<!DOCTYPE html>
<html>
    <head><title>Detalle de Tarea</title></head>
    <body>
        <main style="margin: 50px;">
            <h1>Detalle de Tarea</h1>
            <br>
            <p><strong>Titulo:</strong> {{ tarea.titulo }}</p>
            <p><strong>Descripciopn:</strong> {{ tarea.descripcion }}</p>
            <p><strong>Está Completada?:</strong> {{ tarea.completado|yesno:"SI, NO" }}</p>
            <p><strong>Asignada a:</strong> {{ tarea.asignada_a|default_if_none:"Ningun usuario" }}</p>
            <hr>
            <a href="{% url 'tarea:modificar_tarea' tarea.id %}">Modificar</a> |
            <a href="{% url 'tarea:eliminar_tarea' tarea.id %}">Eliminar</a> |
            <a href="{% url 'tarea:lista_tareas' %}">Volver a Lista de Tareas</a>
        </main>
    </body>
</html>